.rootContainer {
  background-color: var(--dark200);
  color: white;
  border: 10px double;
  border-radius: 15px;
  width: 40vw;
  padding: 20px;
  margin: 100px;
}

.isNewToSession {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
