@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: Signika Negative, sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
}

:root {
  --primary100: #faeb46;
  --primary200: #fff7a3;
  --accent100: #8d64b7;
  --accent200: #650b80;
  --accent300: #382746;
  --accent400: #4a3759;
  --dark100: #424242;
  --transparent100: rgb(255, 255, 255, 0.5);
  --transparent200: rgb(39, 39, 39, 0.98);
}
