.container {
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border: 7px;
    border-color: #6debba;
    border-style: solid;
    box-shadow: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 85%;
}