.rootContainer {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0px 7px;
  border-radius: 10px;
}

.selected {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0px 7px;
  border: solid;
  border-radius: 10px;
}

.rootContainer:hover {
  background-color: var(--accent100);
}

.inner {
  display: flex;
  flex-direction: "row";
  align-items: center;
}

.name {
  font-size: medium;
  margin-left: 10px;
}
