.rootContainer {
  background-color: var(--transparent100);
  padding: 10px;
}

.inner {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  max-height: 70vh;
  overflow-y: auto;
}
