.rootContainer {
  background-image: url("/resul-mentes-sky-test.jpg");
  padding: 10px;
}

.header {
  padding: 20px;
  background-image: url("/edu-lauton-lady-umbrella.jpg");
  box-shadow: 1px 1px 2px 2px #878787;
}
