.rootContainer {
  background-image: url("/josiah-gardner-mountain.jpg");
  padding: 10px;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.header {
  padding: 20px;
  background-image: url("/edu-lauton-lady-umbrella.jpg");
}

.tools {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
