.rootContainer {
  background-color: var(--transparent100);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textField {
  background-color: var(--transparent100);
  color: black;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 25px;
  font-size: 16px;
  width: 100%;
  font-family: Signika Negative, sans-serif;
}
