.rootContainer {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-top: 16px;
}

.labelCell {
  height: 26.719px;
  padding-right: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  user-select: none;
  font-size: small;
}
